
h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 2em;
}


/* Conteneur principal des fiches */
.animal-cards-container {
    display: flex;          /* Utiliser Flexbox */
    flex-direction: column; /* Empiler les éléments en colonne */
    align-items: center;    /* Centrer les éléments horizontalement */
    gap: 20px;              /* Espacement entre les fiches */
    padding: 20px;
    margin-top: 20px;
}

/* Style pour chaque fiche d'animal */
.animal-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* L'élément commence par le haut */
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden; /* Empêche le contenu de déborder */
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    height:fit-content; /* Laissez la hauteur s'ajuster automatiquement */
    text-align: center;
    width: 80%; /* Largeur des fiches (par exemple, 80% de l'écran) */
    max-width: 400px; /* Largeur maximale pour les fiches */
}

.animal-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px; /* Espacement entre l'image et le texte */
}

.animal-card h3 {
    margin: 10px 0;
    font-size: 1.5em;
    font-weight: bold;
}

.animal-card p {
    font-size: 1em;
    color: #555;
    padding: 0 10px;
    flex-grow: 1; /* Permet au texte de prendre l'espace restant */
    margin-bottom: 10px; /* Petit espace après le texte */
}

/* Responsivité : les fiches restent en colonne même sur les petits écrans */
@media (max-width: 768px) {
    .animal-cards-container {
        width: 100%;  /* S'assurer que la largeur du conteneur prend tout l'espace */
        padding: 10px;
    }

    .animal-card {
        width: 100%; /* Chaque carte prend la largeur complète de l'écran */
        max-width: none; /* Supprimer la largeur maximale */
    }
}

/* Style de base pour les étoiles */
.stars {
    display: flex;
    cursor: pointer;
}

.star {
    font-size: 30px;  /* Taille des étoiles */
    color: #ccc;      /* Couleur initiale des étoiles (gris clair) */
    transition: color 0.2s ease; /* Transition douce pour la couleur */
}

/* Couleur des étoiles sélectionnées */
.star.selected {
    color: #ffcc00;  /* Couleur dorée des étoiles sélectionnées */
}

/* Hover effect pour les étoiles */
.star:hover {
    color: #ffcc00;  /* Couleur dorée lorsque l'utilisateur survole */
}

