.enclos-container {
  max-width: 800px;
  margin: auto;
  text-align: center;
  display: flex;          /* Utilisation du flexbox */
  flex-direction: column; /* Empile les éléments en colonne */
  align-items: center;    /* Centre les éléments horizontalement */
}
  
  .swiper-slide img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .swiper-slide p {
    font-size: 1.2em;
    margin-top: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color:white;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
  }
  .comment-section {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    backdrop-filter: blur(15px);
    background: transparent;
    font-family: 'Poppins', sans-serif;
    color:white;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
}
.comment-box {
    width: 100%;
    padding: 10px;
    resize: vertical;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.comment-display {
    margin-top: 20px;
}  