body {
    background: fixed;
    background-image: url("../../assets/fond.jpg"), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    font-family: 'Poppins', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height:100vh;
    padding-top:60px;
    margin:0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/*TITRE*/

h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(40px, 5vw, 80px);
    color:white;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    line-height: 1;
}

h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(30px, 2vw, 50px);
    color:white;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    line-height: 1;
}

h3{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(20px, 1vw, 30px);
    color:white;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    line-height: 1;  
}

h4{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(20px, 1vw, 30px);
    color:white;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    line-height: 1; 
    margin-top: 5%;
    margin-bottom: 5%;
}

/* VIDEO ACCUEIL */

.video-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-bottom: 4px solid #43bb17; /* Ligne de séparation */
    padding-bottom: 0px; /* Espace entre la vidéo et la ligne */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style de la vidéo en plein écran */
.full-width-video {
    width: 100%;
    height:auto;
    display: block;
    filter: blur(3px); /* Ajoute un léger flou */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Film noir léger (ajustez l'alpha pour plus ou moins d'obscurité) */
    z-index: 1; /* Assure que le film est au-dessus de la vidéo */
}

/* Style du titre en superposition */
.video-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    text-align: center;
    background-color: transparent; /* Fond semi-transparent */
    padding: 20px;
    border-radius: 10px;
    z-index: 1;
}

/* SECTIONS ACCUEIL*/

section {
    min-height: 100vh; 
    font-family: 'Poppins', sans-serif;
    color:white;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    padding-top: 20px;
}

/* Sections de contenu */

.section1, .section2 {
    display: flex;
    width: 100vw;
    max-width: 1200px;
    height: 500px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

.imag {
    display: block;
    max-width: 100%;
    width: 100%; 
    height: auto;
    object-fit: cover;
  }
  

  .img.dessus {
    position: absolute;
    top: 32%;
    left: -30%; 
    transform: translateY(-50%); 
    width: 100%; 
    height: auto;
    z-index: 2; 
    opacity: 0.9; 
  }

  .img.dessus2 {
    position: absolute;
    top: 32%; 
    right: -30%; 
    transform: translateY(-50%); 
    width: 100%; 
    height: auto;
    z-index: 2; 
    opacity: 0.9; 
  }

  @media (max-width: 768px) {
    /* Réduire les tailles sur les écrans moyens */
    .img.dessus {
      width: 40%; /* Taille plus petite pour la deuxième image */
      left: -15%; /* Ajustement de position */
    }
  }
  
  @media (max-width: 480px) {
    /* Réglages pour les petits écrans */
    .img.dessus {
      width: 50%; /* Encore plus petite pour s'adapter aux écrans mobiles */
      left: -10%; /* Ajustement minime */
    }
  }

/* Styles pour les images */

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/*PARAGRAPHE*/

.centered-paragraph {
    text-align: center;
    color:white;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

/* DISPOSITIONS D'IMAGES */

:root{
    --bgColor:#232323;
}

.cards{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap:1rem;
    justify-content: space-evenly; 
    align-items: center; 
}

.card{
    display: flex; 
    align-items: center; 
    height:200px;
    width:250px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card img{
    width:100%;
    height:100%;
    object-fit:cover;
    border: 1px solid rgb(255,238,207);
    border-radius: 10px;
    filter:sepia(0.5);
}

.card a:hover {
    background-color: #007812;
    color: rgb(0, 0, 0);
}


/* BARRE DE NAVIGATION */

.nav {
    display: flex;
    justify-content: space-evenly; /* Espacement uniforme entre les éléments */
    align-items: center; /* Centrer verticalement les éléments */
    background-color: #43bb17;
    height: 60px; /* Hauteur de la barre de navigation */
    width: 100%;
    box-sizing: border-box;
    opacity:0.9;
    position:fixed;
    top:0;
    z-index:1000;
}

.nav a {
    display: flex;
    align-items: center; /* Centrer verticalement les liens */
    justify-content: center; /* Centrer horizontalement les liens */
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 0 16px; /* Espacement horizontal des liens */
    text-decoration: none;
    font-size: clamp(14px, 2vw, 20px);
    font-family: 'Poppins', sans-serif;
    height: 100%; /* Hauteur complète de la barre */
    transition: background-color 0.3s ease;
}


.nav a:hover {
    background-color: #007812;
    color: rgb(0, 0, 0);
}

.nav img {
    height: 40px;
    width: auto;
}

/* CHAMP DE RECHERCHE */

.search-container {
    display: flex;
    align-items: center; /* Centrer verticalement le champ de recherche */
    justify-content: center;
    flex-shrink: 0; /* Empêche la réduction du champ de recherche */
    margin-left: 16px; /* Espace entre le champ de recherche et les autres éléments */
}

.nav input[type=text] {
    padding: 6px;
    border: none;
    font-size: 17px;
    width: 200px; /* Largeur fixe pour le champ de recherche */
}

@media (max-width: 768px) {
    .search-container {
        margin-left: 8px; /* Réduit l'espace sur les écrans plus petits */
        justify-content: flex-start; /* Place le champ à gauche */
        width: 100%; /* Adapte à la largeur de l'écran */
    }

    .nav input[type="text"] {
        font-size: 15px; /* Réduit la taille du texte */
        width: 100%; /* Utilise toute la largeur disponible */
    }
}


/* BOUTON CONNEXION */

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 14px 30px; /* Espace interne du bouton */
    color: #007812;
    background-image: linear-gradient(45deg, #986b2b, #007812);
    font-size: 12px;
    border-radius: 30px;
    border-top-right-radius: 30px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center; /* Centre le texte dans le bouton */
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */
}

.btn:hover {
    transform: scale(1.05); /* Effet d'agrandissement au survol */
}

@media (max-width: 768px) {
    .btn {
        padding: 12px 30px; /* Réduit le padding sur les écrans moyens */
        font-size: 11px; /* Diminue légèrement la taille de la police */
        border-radius: 20px; /* Adoucit les coins pour un meilleur rendu */
    }
}

@media (max-width: 480px) {
    .btn {
        padding: 10px 20px; /* Réduit encore le padding pour les petits écrans */
        font-size: 10px; /* Taille de police plus petite */
        width: 100%; /* Le bouton occupe toute la largeur */
        max-width: 300px; /* Limite la largeur maximale */
        margin: 0 auto; /* Centre le bouton horizontalement */
        display: block; /* Gère les cas où le parent a une largeur limitée */
    }
}


/* LOGIN PAGE */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}


.wrapper{
    width:600px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    color:white;
    border-radius:10px;
    padding:30px 40px;
    margin-bottom: 30px;
    margin-top:60px;
    text-align: center;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

.wrapper2{
    width:900px;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    border-radius:10px;
    padding:30px 40px;
    margin-bottom: 30px;
    margin-top:60px;
    text-align: center;
}

.wrapped {
    width: 85%;
    max-width: 85%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: white;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 30px;
    box-sizing: border-box;
}


.wrapper .userandpswd{
    position: relative;
    width:100%;
    height:50px;
    margin:30px 0;
}

.userandpswd input{
    width:100%;
    height:100%;
    background:transparent;
    border:none;
    outline:none;
    border:2px solid rgba(255,255,255,.2);
    border-radius:40px;
    font-size: 16px;
    color:white;
    padding:20px 45px 20px 20px;
}

.userandpswd input::placeholder{
    color:white;
}

.userandpswd i{
    position:absolute;
    right:20px;
    top:50%;
    transform: translateY(-50%);
    font-size:20px;
}

.wrapper .remember-forgot{
    display:flex;
    justify-content:space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color:white ;
    margin-right: 3px;
}

.remember-forgot a{
    color:white;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper .bton{
    width:100%;
    height:45px;
    background:white;
    border:none;
    outline:none;
    border-radius:40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor:pointer;
    font-size:16px;
    color:#333;
    font-weight:600;
}

.wrapper .register-link{
    font-size:14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a{
    color:white;
    text-decoration: none;
    font-weight:600;
}

.register-link p a:hover{
    text-decoration:underline;
}

/* FOOTER */

footer {
    position: relative;
    margin-top: 30px;
    bottom: 0;
    left: 0;
    background-color: #43bb17;
    color: rgb(0, 0, 0);
    padding: 20px 0;
    text-align: center;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    opacity:0.9;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content p {
    margin: 10px 0;
    font-size: 14px;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}

.social-links a:hover {
    color: #007812;
}

.social-links img {
    height: 25px;
    width: auto;
}

#result {
    margin-top: 20px;
    padding: 10px;
    border: 1px;
    border-radius: 5px;
    background-color: transparent;
}

.warning {
    color: red;
    font-weight: bold;
}

.hidden {
    display: none;
}

.profile-dropdown {
    position: relative;
    display: inline-block;
}

.profile-dropdown-btn {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 1.2rem;
    background-color: #13ad13;
    border: 1px solid #007812;
    border-radius: 30px;
    cursor: pointer;
    width: 250px;
    justify-content: center;
    color:black;
    opacity:1;
    transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;
}

.profile-img {
    width: 30px;
    height: 30px;
    background-color: #ddd;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile-button-pp{
    border-radius: 50%;
}

.profile-dropdown-btn:hover {
    background-color: #007812;
}

.profile-dropdown-list{
    display: none;
    position: absolute;
    top: 100%;
    left:0;
    width: 100%;
    background-color: #43bb17;
    border: 1px solid #007812;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    margin: 0;
    padding: 0;
}

.profile-dropdown-list li {
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.profile-dropdown-list li a,
.profile-dropdown-list li button {
    all:unset;
    color:black;
    opacity:1;
    display: flex;
    font-size: 1rem;
}

.profile-dropdown-list li:hover {
    background-color: #007812;
}

.profile-dropdown:hover .profile-dropdown-list {
    display: block;
}

#PP{
    width:100px;
    height:100px;
    border-radius: 50%;
}

.pp-option {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
/* Conteneur principal des fiches */
.animal-cards-container {
    display: flex;          
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
}

/* Style pour chaque fiche d'animal */
.animal-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    height:fit-content;
    text-align: center;
    width: 80%;
    max-width: 400px;
}

.animal-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
}

.animal-card h3 {
    margin: 10px 0;
    font-size: 1.5em;
    font-weight: bold;
}

.animal-card p {
    font-size: 1em;
    color: #555;
    padding: 0 10px;
    flex-grow: 1;
    margin-bottom: 10px;
}

/* Responsivité : les fiches restent en colonne même sur les petits écrans */
@media (max-width: 768px) {
    .animal-cards-container {
        width: 100%;
        padding: 10px;
    }

    .animal-card {
        width: 100%;
        max-width: none;
    }
}

/* Style de base pour les étoiles */
.stars {
    display: flex;
    cursor: pointer;
}

.star {
    font-size: 30px;
    color: #ccc;
    transition: color 0.2s ease;
}

/* Couleur des étoiles sélectionnées */
.star.selected {
    color: #ffcc00;
}

/* Hover effect pour les étoiles */
.star:hover {
    color: #ffcc00;
}

.enclos-container {
    max-width: 800px;
    margin: auto;
    text-align: center;
  }

/*CARROUSEL*/

.swiper-slide img {
    width: 100%;
    border-radius: 10px;
  }

.swiper{
    height:300px!important;
}

.swiper-slide p {
    font-size: 1.2em;
    margin-top: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color:white;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

/* COMMENTAIRES */

.comment-section {
    width: 100%; 
    max-width: 800px;
    margin-top: 30px;
    padding: 20px;
    border: 1px solid rgba(255,255,255,.2);
    border-radius: 8px;
    backdrop-filter: blur(15px);
    background: transparent;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    box-sizing: border-box;
}
.comment-box {
    width: 100%;
    padding: 10px;
    resize: vertical;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit-btn {
    background-color: #643500;
    color: white;
    padding: 10px 20px;
    font-size:12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.submit-btn2 {
    background-color: #643500;
    color: white;
    padding: 10px 20px;
    font-size:12px;
    border: none;
    box-shadow: #000;
    border-radius: 10px;
    cursor: pointer;
}

#zooForm {
    display: flex;
    gap: 10px;
    align-items: center;
}

label{
    color:white;
    text-shadow: 2px 2px 3px black;
}

.comment-display {
    margin-top: 20px;
}  


/* BILLETERIE */

/* Style pour chaque ligne de choix de billet */
#ticketForm div {
    margin-bottom: 15px; 
    display: flex;
    align-items: center;
  }
  
  /* Étiquette de texte et champ de quantité alignés */
  #ticketForm label {
    flex: 1;
    font-weight: bold;
  }
  
  /* Champ de quantité avec bords arrondis */
  input[type="number"] {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
    width: auto;
    min-width: 50px;
    transition: width 0.2s ease-in-out;
    margin-left: 10px;
  }
  
  /* Style lors du survol */
  input[type="number"]:hover {
    border-color: #666;
  }
  
  .btnB {
    border-radius: 15px;
    padding: 10px 20px;
    border: none;
    background-color: #43bb17; 
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
  .btnB:hover {
    background-color: #007812;
  }
  
  #error-message {
    color: red;
    margin-top: 10px;
    display: none;
  }
  
  
  
  /* NOS SERVICES */
  
  .wrappedS {
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
    justify-content: center !important;
    text-align: center !important;
    width: 85%;
    max-width: 85%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
    margin-bottom: 30px;
    margin-top: 30px;
    box-sizing: border-box;
  }
  
  
  .containerS {
    display: grid !important;
    grid-template-columns: 2fr 1fr !important;
}
.left {
    min-width: 200px;
    max-width: 800px;
}
.right {
    min-width: 200px;
    max-width: 900px;
}
  
  .boxS {
    background-color: #efffef;
    padding: 1.5rem;
    margin-bottom: 15px;  /* Espacement entre les boxes */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .boxS:hover {
    transform: scale(1.05);
  }
  
  
  .box-headerS {
    font-size: 1.2rem;
    font-weight: bold;
    color: #2b2e83;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-align: center;
  }
  
  
  .highlightS {
    color: #36b736;
    font-weight: bold;
  }
  
  /* sections */
  .map img {
    width: 110%;
    border-radius: 2px;
    overflow: hidden;
  }

  .imap-container {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.imap-container img {
    max-width: 100%;
    height: auto;
    display: block;
}

  .info a {
    color: #36b736;
    text-decoration: none;
    margin-top: 1rem;
    display: inline-block;
    font-weight: bold;
  }
  
  .centered {
    text-align: center;
  }
  
  
  .boxS p {
    color: #000;
  }
  
  .icon {
    width: 30px;
    height: 30px;
  }
  
  /* PRESENTATION BIOMES*/
  
  .grid-list {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem;
    padding: 2rem;
  }
  
  /* POP UP */
  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 80%;
    max-width: 600px;
    max-height: 80%;
    overflow-y: auto;
    position: relative;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
    color: #333;
  }
  
  #popup img {
    max-width: 100%;
    max-height: 300px;
    height: auto;
    display: block;
    margin: 0 auto 20px;
  }
  
  /* map interactive */
  
  .center-map {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.wrapper3 {
    width: 900px;
    height: 560px;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 0;
    text-align: center;
    margin: 0;
    position: relative;
}
  circle {
      fill: lawngreen;
      fill-opacity: 0;
      stroke: lawngreen;
      stroke-width: 0px;
  }
  
  circle:hover {
      stroke-opacity: 1;
      fill-opacity: 0.2;
      stroke-width: 2;
  }
  
  circle.selected {
      stroke-opacity: 1;
      fill-opacity: 0.5;
      stroke-width: 2;
  }
  .map-btn {
    border-radius: 15px;
    background-color: #43bb17; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none; /* Pas de bordure */
    padding: 10px 20px; /* Taille du bouton */
    cursor: pointer; /* Change le curseur en pointeur */
    font-size: 16px; /* Taille de la police */
    transition: transform 0.2s ease, background-color 0.2s ease; /* Effet au survol */
    margin-top: 20px;
}

.map-btn:hover {
    background-color: #007812; /* Couleur au survol */
    transform: scale(1.1); /* Légère augmentation de taille */
}
  
.search-bar{
    width: 400px; 
    height: 50px;
    font-size: 16px; 
    padding: 5px; 
    border-radius: 15px;
}     